//====================================================================================================

//====================================================================================================
.mainpage {

   &__slider {
   }
}
@media (min-width:$tablet){
   .touch .main-slider[data-fullscreen]{
      min-height: 0;
   }
}
.main-slider {
   

   @include adaptiveValue("padding-top", 185, 115);
   @include adaptiveValue('padding-bottom', 70, 30);
   background: $mainBG;
   display: flex;
  
   // .main-slider__container

   &__container {
      &:not(.main-slider__container_wide) {
         padding: 0;
      }
      // .main-slider__container_wide

      &_wide {
         flex: 1 1 auto;
         min-width: 0;
         position: relative;
      }
   }

   // .main-slider__menu

   &__menu {
   }

   // .main-slider__scroll

   &__scroll {
      @media (min-width: em(1445)) {
         position: absolute;
         bottom: 0;
         right: rem(15);
      }
      @media (max-width: em(1445)) {
         display: block;
         padding-top: rem(15);
         &::before{
            display: none;
         }
      @media (max-width:$tablet){
         display: block;           
      }
      }
   
   }
}
.body-main-slider {
   height: 100%;
   min-height: 200px;
   display: flex;
   flex-direction: column;
   &.swiper {
      overflow: visible;
   }
   

   // .body-main-slider__swiper

   &__swiper {
      flex: 1 1 auto;
      align-items: center;
   }

   // .body-main-slider__slide

   &__slide {
      height: 100%;
   }

   &__controll {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      @extend %cuf;
      text-transform: capitalize;
      @media (min-width:$tablet){
         padding-top: rem(88);
      }
      @media (max-width: em(1445)) and (min-width:$tablet)  {
         padding-top: rem(55);
      }
      .swiper-pagination-bullet {
         font-size: rem(22);
         font-weight: 600;
         line-height: 175%; 
         color: $mainWhite;
         letter-spacing: 0.64px;
         display: flex;
         gap: 8px;
         align-items: center;
         transition: gap 0.8s ease 0s;
         &::after{
            content:'';
            width: 0px;
            transition: all 0.8s ease 0s;
            background: $mainYellow;
            flex: 0  0  0px;
            height: rem(1);
         }
      }
      .swiper-pagination-bullet-active {
         gap: 8px;
         &::after{
            content:'';
            width: 16px;
            flex: 0 0 16px;
         }
      }
   }
}
.slide-main-slider {
   display: grid;
   padding: 25px 0 0 0;
   opacity: 0 !important;
   pointer-events: none;
   gap: 50px;

   @media (min-width: em(1445)) {
      padding: 50px 0;
   }
   @media (min-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
   }
   &.swiper-slide-active {
      pointer-events: auto;
      opacity: 1 !important;
   }

   // .slide-main-slider__content

   &__content {
      align-self: center;
      display: grid;
      gap: 32px;
      justify-items: start;
      @media (min-width:$tablet){
         max-width: rem(500);
         padding-right: 40px;

      }
   }

   // .slide-main-slider__header

   &__header {
   }

   // .slide-main-slider__text

   &__text {
   }

   // .slide-main-slider__button

   &__button {
   }

   // .slide-main-slider__image

   &__image-ibg {
      position: relative;
      align-self: center;
      padding-bottom: percent(619, 688);
      @media (min-width:$tablet){
         height: 100%;
         max-height: 736px; 
         margin-right: percent(25, 650);
      }
      @media (max-width:$tablet){
           margin: 0 rem(math.div($containerPadding, -2));
      }
      &::before,
      &::after{
         content:'';
         position: absolute;
         background-color: $mainYellow;
         transition: transform 0.3s ease 0s;
         width: percent(435, 619);
         height: percent(435, 688);
      }
      &::after{
         bottom: 0;
         left: 0;
         transform: translate(-25px, 25px);
      }
      &::before{
         right: 0;
         top: 0;
         transform: translate(25px, -25px);
      }
      img {
         z-index: 2;
         transition: transform 0.3s ease 0s;
      }
      @media (any-hover: hover){
         &:hover{
            &::before{
               transform: translate(30px, -30px);
            }
            &::after{
               transform: translate(-30px, 30px)
             }
            img {
              transform: scale(1.02);
            }
         }
      }
   }
}
.block-header {

   // .block-header__sub-title

   &__sub-title {
   }

   // .block-header__title

   &__title {
   }
}
.menu-main-slider {
   display: flex;
   gap: rem(40);
   position: absolute;
   top: 0;
   left: rem(15);
   @media (min-width: em(1445)) {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;    
   }
   // .menu-main-slider__link

   &__link {
      color: $mainWhite;
      font-size: rem(18);
      font-weight: 400;
      line-height: 175%; /* 31.5px */
      letter-spacing: 0.72px;
      @media (min-width: em(1445)) {
         writing-mode: vertical-lr;
         transform: rotate(-180deg);
      }
      @media (any-hover: hover){
         &:hover{
            color: $mainHover;
         }
      }
      &_current {
         color: $mainHover;
      }
     
   }
}
